$color-principal:#fff;
.bienvenida{
    background: #4352ad;
    color: #fff;
    .encabezado{
        display: flex;
        align-items: center;
    }
}
button{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 2.2rem;
    padding: .5rem;
    &#buscar{
        margin-left: auto;
    }
}